# range function

In [1]:
n = range(5)

print(n)

range(0, 5)

In [3]:
# help(range)

In [4]:
n = list(range(5))

print(n)

[0, 1, 2, 3, 4]

In [5]:
n = list(range(3, 15))

print(n)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
print(range(20) == range(0,20))

True

In [7]:
n = list(range(5,20,2))

print(n)

[5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
n = list(range(20,2,-1))

print(n)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]

In [9]:
n = list(range(5,20,-2))

print(n)

[]

# For loop

In [10]:
l = ['a', 'b', 'c', 'd']

print('a' in l)

True

In [11]:
print('c' not in l)

False

In [12]:
l = ['a', 'b', 'c', 'd']
#               i

#  'c' in l
for i in l:
    print(i)

a
b
c
d

In [13]:
x = ['ab', 'cd']

for i in x:
    print(i.upper())

print(x)

AB
CD
['ab', 'cd']

In [14]:
x = ['ab', 'cd']

for i in x:
    i.upper()

print(x)

['ab', 'cd']

In [15]:
x = 'abcd'
#    i

for i in x:
    print(i)

a
b
c
d

In [16]:
x = 'abcd'
#    i

for i in x:
    print(i)
    x.upper()

a
b
c
d

In [17]:
x = 'abcd'

for i in x:
    print(i.upper())

A
B
C
D

In [18]:
x = 'abcd'

for i in range(x):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [19]:
x = 'abcd'

#               i
#         0,1,2,3
for i in range(len(x)):
    print(i)

0
1
2
3

In [20]:
print(i)

3

In [21]:
x = 'abcd'

for i in range(len(x)):
    print(i.upper())

AttributeError: 'int' object has no attribute 'upper'

In [22]:
x = 'abcd'

for i in range(len(x)):
    x[i].upper()
print(x)

abcd

In [23]:
x = 'abcd'

#        0,1,2,3
for i in range(len(x)):
    x = 'a'
    print(x)

a
a
a
a

In [24]:
x = 'abcd'

#        0,1,2,3
for i in range(len(x)):
    print(x)
    x = 'a'

abcd
a
a
a

In [25]:
print(x)

a

In [26]:
s = 'abcd'

s[0] = 'A'

TypeError: 'str' object does not support item assignment

In [27]:
s = 'abcd'

s = 'a'

print(s)

a

In [28]:
a = 10

a = 20

print(a)

20

In [29]:
x = 123

for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [30]:
x = '123'

for i in x:
    print(i)

1
2
3

# For Loop else

In [31]:
for i in range(10):
    if i == 99:
        break
else:
    print("Indore")

Indore

In [32]:
for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print("Indore")

0
1
2
3
4
5

In [33]:
for i in range(10):
    if i > 5:
        print(i)
        break
    else:
        print("7")

7
7
7
7
7
7
6

# Nested Loop

In [ ]:
11  12  13
21  22  23
31  32  33

In [34]:
for i in range(1,4):
    for j in range(1,4):
        print(i, end='')
        print(j, end='  ')
    print()

11  12  13
21  22  23
31  32  33

In [35]:
s = 'Indore'
c = 0

for i in s:
    c += 1

print("Length =", c)

Length = 6

In [ ]:
*
**
***
****
*****

In [37]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end='')
    print()

*
**
***
****
*****

In [38]:
i = 1

while i <= 5:
    j = 5
    while j >= i:
        print(end=' ')
        j -= 1
    
    k = 1
    while k < i+1:
        print("*", end=' ')
        k += 1
    print()
    i += 1

     *
    * *
   * * *
  * * * *
 * * * * *

In [41]:
while i <= 5:
    j = 5
    while j >= i:
        print(end=' ')
        j -= 1
    
    k = 1
    while k < i+1:
        print("*", end=' ')
        k += 1
    print()
    i += 1

while i >= 1:
    j = 5
    while j >= i:
        print(end=' ')
        j -= 1
    
    k = 1
    while k < i+1:
        print("*", end=' ')
        k += 1
    print()
    i -= 1

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [46]:
while i <= 5:
    j = 5
    while j >= i:
        print(end=' ')
        j -= 1
    
    k = 0
    while k <= i+1:
        print("*", end='')
        k += 2
    print()
    i += 1

while i >= 1:
    j = 5
    while j >= i:
        print(end=' ')
        j -= 1
    
    k = 0
    while k <= i+1:
        print("*", end='')
        k += 2
    print()
    i -= 1

      **
     **
    ***
   ***
  ****
 ****
*****
 ****
  ****
   ***
    ***
     **