# Tuple

In [1]:
t = (4,3,5,6)
#    0 1 2 3

print(t)

print(type(t))

(4, 3, 5, 6)
<class 'tuple'>

In [2]:
print(t[0])

4

In [3]:
t[0] = 11       # tuple are immutable objects

TypeError: 'tuple' object does not support item assignment

In [5]:
t = 10

print(t)

print(type(t))

10
<class 'int'>

In [6]:
my = "one", "two", "three"

print(my)

print(type(my))

print(my[2])

('one', 'two', 'three')
<class 'tuple'>
three

In [7]:
t = ()

print(t)

print(type(t))

()
<class 'tuple'>

In [8]:
a = (10)

print(a)

print(type(a))

10
<class 'int'>

In [9]:
a = (10,)

print(a)

print(type(a))

(10,)
<class 'tuple'>

# Tuple Unpacking

In [10]:
n = (1,2,3)

a,b,c = n

print(a)
print(b)
print(c)

1
2
3

In [11]:
a,b = (10,20)

print(a)
print(b)

10
20

In [12]:
x,y = [12,11]

print(x)
print(y)

12
11

In [14]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [15]:
a,b,c = (1,2,3,4)

ValueError: too many values to unpack (expected 3)

In [16]:
a,b,c,*d = (1,2,3,4,5,6,7,8,9)

In [17]:
print(d)

[4, 5, 6, 7, 8, 9]

# Swap two numbers

In [18]:
a = 10
b = 20

c = a
a = b
b = c

print(a)
print(b)

20
10

#### swap two numbers without using third variable

In [19]:
a = 10  # 30
b = 20  # 10

a = a + b
b = a - b
a = a - b

print(a)
print(b)

20
10

In [21]:
a = 10
b = 20

a,b = b,a   # a,b = (20,10)

print(a)
print(b)

20
10

# Tuple Slicing

In [22]:
#                               -1
t = (11,22,33,44,55,66,77,88,99,100)
#    0  1  2   3  4  5 6  7

print(t)

(11, 22, 33, 44, 55, 66, 77, 88, 99, 100)

In [23]:
print(t[3:5])

(44, 55)

In [24]:
print(t[:6])

(11, 22, 33, 44, 55, 66)

In [25]:
print(t[-8:-4])

(33, 44, 55, 66)

In [26]:
print(t[-4:-8])

()

In [27]:
print(t[2:9:2])

(33, 55, 77, 99)

In [28]:
print(t[::-1])

(100, 99, 88, 77, 66, 55, 44, 33, 22, 11)

# Tuple Functions

In [29]:
t = (11,22,33,44,55)

print(len(t))

print(max(t))

print(min(t))

print(sum(t))

5
55
11
165

In [30]:
t = ('hi', 1,2,3)

print(sum(t))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Tuple Methods

In [31]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### count

In [32]:
t = (11,22,33,55,55, 22, 55)

print(t.count(55))

3

#### index

In [33]:
t = (2,3,14,5,6)

print(t.index(6))

4

# Questions

**WAP to remove an item i from this tuple**

In [34]:
t = ('a', 'e', 'i', 'o', 'u')

t = t[:2] + t[-2:]

print(t)

('a', 'e', 'o', 'u')

In [35]:
t = ('a', 'e', 'i', 'o', 'u')
l = list(t)
l.remove('i')
t = tuple(l)

print(t)

('a', 'e', 'o', 'u')

In [36]:
t = (4,5,6,7)
print(t)
t = t + (9,)
print(t)

(4, 5, 6, 7)
(4, 5, 6, 7, 9)

In [37]:
t = (10,20)
t = t - (10,)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [38]:
t = (4,5,6,7)
print(t)
print(id(t))
t = t + (10,)
print(t)
print(id(t))
t = t[:3] + (12,13,14) + t[:3]
print(t)
print(id(t))

(4, 5, 6, 7)
2858908594800
(4, 5, 6, 7, 10)
2858908543952
(4, 5, 6, 12, 13, 14, 4, 5, 6)
2858908532416

In [39]:
l = [1,2,3]
print(l)
print(id(l))

l.append(5)
print(l)
print(id(l))

[1, 2, 3]
2858908493440
[1, 2, 3, 5]
2858908493440

# Sets

unordered and unindexed

sets are mutable

In [40]:
n = {1,2,3,4,5,6,6,6}

print(n)

{1, 2, 3, 4, 5, 6}

In [41]:
s = set()

print(s)

set()

In [42]:
print(type(n))

<class 'set'>

In [43]:
n = set(['a','b',4])

print(n)

{'a', 'b', 4}

In [44]:
n = {1,2,3,4,5}

print(3 in n)

True

In [46]:
n = {1,2,93,44,5}

for i in n:
    print(i)

1
2
5
44
93

In [47]:
s = {1,2,2,24,5,5,5,6,6,24}

print(s)

{1, 2, 5, 6, 24}

# Set operations


### union

In [48]:
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f | s)  # union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### intersection

In [49]:
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f & s)    # intersection

{4, 5, 6}

### difference

In [50]:
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f - s)

{1, 2, 3}

In [51]:
print(s - f)

{8, 9, 7}

### symmetric

In [52]:
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f ^ s)

{1, 2, 3, 7, 8, 9}

# Set functions

In [53]:
s = {11,22,44,55}

print(len(s))
print(max(s))
print(min(s))
print(sum(s))

4
55
11
132

# Set methods

#### add

In [57]:
n = {1,2,1,3,4,5,6}

print(n)

n.add(-7)

print(n)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, -7}

#### clear

In [58]:
print(n)
n.clear()
print(n)

{1, 2, 3, 4, 5, 6, -7}
set()

In [59]:
s = {}

print(type(s))

<class 'dict'>

#### remove

In [60]:
n = {1,2,3,4,5,6}
n.remove(3)

print(n)

{1, 2, 4, 5, 6}

# Frozenset

In [61]:
f = frozenset(['e','f',2,3])     # immutable

print(f)

frozenset({3, 'e', 2, 'f'})

In [62]:
print(type(f))

<class 'frozenset'>

In [63]:
f.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [64]:
a = {1,2,3}
b = {4,5,6}

print(a == b)

False

In [65]:
print(a <= b)  # a is subset of b

False

In [66]:
print(a < b)  # a is proper subset of b

False

In [67]:
print(a != b)

True

In [68]:
a = {1,2,3,4,5,6}
b = {4,5,6}

print(a == b)

False

In [69]:
print(b <= a)

True

In [70]:
print(a <= b)

False

In [71]:
print(b < a)

True