In [ ]:
session structure
- work on topics/sub-topics
- practice questions
    - concept based questions
    - basic sheets/warmup questions
    - algorithm based questions
- discussions/enritchment

# Python Basics

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello")
print("World")

Hello
World

In [3]:
# new line character - \n

print("Hello\nWorld")

Hello
World

In [4]:
# horizontal tab - \t

print("Hello\tWorld")

Hello	World

# Questions

**WAP to print following output**

In [ ]:
name
    company name
                country

In [5]:
print("Himanshu\n\tGoogle\n\t\tIndia")

Himanshu
	Google
		India

In [ ]:
*
**
***

In [6]:
print("*\n**\n***")

*
**
***

In [ ]:
--4--*
*----8----*
--4--*

In [7]:
print("\t/2")

	/2

In [8]:
print("    *\n*\t*\n    *")

    *
*	*
    *

# Variables and Data Types

In [10]:
a = 10

print(a)

10

In [11]:
# int a = 10;

In [12]:
a = 10

print(a + 5)

print(a)

15
10

In [13]:
a = 10

a = 20

print(a)

20

In [14]:
a = 10

print(a)

print(type(a))

10
<class 'int'>

In [15]:
b = 10.65

print(b)

print(type(b))

10.65
<class 'float'>

In [16]:
c = "India"

print(c)

print(type(c))

India
<class 'str'>

In [17]:
d = "A"

print(type(d))

<class 'str'>

# Input Function

getting values from user

In [18]:
a = input()

print(a)

100
100

In [19]:
a = input("Enter a number")

print(a)

Enter a number50
50

In [20]:
name = input("Enter your Name: ")

print("Hello", name)

Enter your Name: Himanshu
Hello Himanshu

# Type conversion

In [21]:
a = 10.56

print(a)

print(type(a))

b = int(a)

print(b)

print(type(b))

10.56
<class 'float'>
10
<class 'int'>

In [22]:
a = "10"

print(a)

print(type(a))

b = float(a)

print(b)

print(type(b))

10
<class 'str'>
10.0
<class 'float'>

# Question

**WAP to get 2 values from user and print addition of them.**

In [23]:
a = input("Enter 1st value: ")
b = input("Enter 2nd Value: ")

c = a + b

print(c)

Enter 1st value: 10
Enter 2nd Value: 20
1020

In [24]:
"10" + "20"

'1020'

In [25]:
10 + 20

30

In [26]:
print(type(a))

<class 'str'>

In [27]:
a = int(input("Enter 1st value: "))
b = int(input("Enter 2nd Value: "))

c = a + b

print(c)

Enter 1st value: 10
Enter 2nd Value: 20
30

In [28]:
a = int(input("Enter 1st value: "))
b = int(input("Enter 2nd Value: "))

c = a + b

print("Addition =", c)

Enter 1st value: 10
Enter 2nd Value: 20
Addition = 30

**WAP to enter 2 values from user and print addition, substraction, multiplication and division with proper message**